/* custom colors */
:root {
  /* turquoise */
  --turq: rgb(0, 204, 241);

    /* a nice gray */
  --code-gray: #696969;
}

/* use Lato font */
body{
  font-family: 'Lato';
  font-weight: 400;
}
/* links */
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: var(--turq);
}

/* paragraph indent */
p{
  text-indent: 2.5%;
}

/* ******************************
    BUTTON BAR AT THE TOP
****************************** */ 
.buttonbar{
  border: solid 2px black;
  width:95%;
  height: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*.buttonbar::after{
  content: " ";
  display: block;
  width:95%;
  margin-bottom: 20px;
}*/

/* top button */
.tbutton{
  background: url("./images/big-vee-gray.jpg") center center;
  opacity: 0.6;
  background-size: 70%;
  border: none;
  color: white;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 6vw;
  width: 100%;
  height: 15vw;
}

/* left button */
.lbutton{
  background: url("./images/web-math-dark.png") center center;
  opacity: 1;
  background-size: 50%;
  border: none;
  color: var(--turq);
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  font-size: 3.5vw;
  width: 50%;
  height: 5vw;
  float: left;
  font-family: 'Lato';
  font-weight: 400;
}

/* right button */
.rbutton{
  background: url("./images/hashcat-gray.png") top center;
  opacity: 0.6;
  background-size: 100%;
  border: none;
  color: white;
  padding: 0px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  font-size: 3.5vw;
  width: 50%;
  height: 5vw;
  font-family: 'Lato';
  font-weight: 400;
}

/* ******************************
          SECTION STUFF 
  ****************************** */ 
section{
  width: 100%;
}
.homerow{
  display: block;
  margin: 2em auto;
  width:95%;
  justify-content: space-between;
  line-height: 1.4;
  border-bottom: 3px solid var(--turq);
}
.sectionheading{	
  text-align: center;
}
.sectionrow{
	display: block;
  margin: 2em auto;
  width:95%;
  justify-content: space-between;
  line-height: 1.4;
  border-bottom: 3px solid var(--turq);
}
h3.rbsection{
  text-align: center;
}


/* ******************************
        SIDE BUTTON BAR
****************************** */ 
.mininav{
  display: block;
  float: right;
  width: 20%;
  /*border: 1px solid var(--turq);*/
  /*border-radius: 3px;*/
  /*margin-top: 20px;*/
  /*margin-right: 20px;*/
  margin-left: 20px;
}
.mininav button{
  display: block;
  width: 100%;
  background: black;
  color: white;
  border: 2px solid var(--turq);
  padding: 10px;
  font-size: 2vw;
  cursor: pointer;
  opacity: 0.6;
}
.mininav button:not(:last-child) {
  border-bottom: none; 
}



/* ******************************
          TOOLTIPS
****************************** */ 
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: var(--code-gray);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  font-size: 10px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--code-gray);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ******************************
        REVEAL BOXES
****************************** */ 
div.revealbox{
  content: " ";
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
/* panels and flips */
div.panel, p.flip{
  line-height: 1.5;
  margin:auto;
  padding:5px;
  text-align:center;
  border:solid 1.5px var(--turq);
  color:white;
  border-radius:3px;
}
div.panel{
  display:none;
  background:black;
  font-size:16px;
  text-align: left;
  padding:12px;
}
p.flip{
  cursor:pointer;
  background:black;
  font-size: 24px;
}
div.panel p{
  text-indent: 2.5%;
}
div.panel a:link{
	color: white;
}
div.panel a:visited{
  color: white;
}
div.panel a:hover{
  color: var(--turq);
}
div.rbdate{
  font-size: 1.5vw;
  text-align: right;
  padding-right: 10px;
}

b.def{
	color: var(--turq);
}

div.container{
  text-align: center; /* don't touch */
}
div.container div.thm{
  padding:5px;
  border: 1px solid #696969;
  border-radius: 3px;
  /*background: #696969;*/
  display:inline-block; /* don't touch */
  text-align: left; /* don't touch */
  /*height: auto;*/
}

b.caution{
  color: red;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border:1px solid var( --code-gray );*/
  /*border-radius: 3px;*/
  width: 40%;
}



/*.imgblock{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin:0 auto 10px;
}

.imgblock > img{
  border:2px solid black;
   height:auto; 
   width:100%;
}

.imgblock > p{
  text-align: center; 
  margin-top: 0; 
  font-size:0.9em
}


@media screen and (max-width: 700px) {
  .row{
    flex-direction: column;
    align-items: center;
    margin:0 auto;
  }
}


.row2{
  display: flex;
  margin:0 auto;
  width: 95%;
}

.floatrow{
  margin:0 auto;
  width: 95%;
}

.floatrow > img{
  border:2px solid black;
  margin-right: 20px;
  margin-bottom: 5px;
}

.floatrow > p{
  margin: 0 0 12px;
  line-height: 1.4;
}

.floatrow > ul{
   margin-bottom: 20pt; 
   line-height: 1.4;
}

.rightfloatrow{
  margin:0 auto;
  width:95%;
}

.rightfloatrow > img{
  border: 2px solid black;
  margin-left: 20px;
  margin-bottom: 5px;
}

.rightfloatrow > p{
  margin: 0 0 12px;
  line-height: 1.4;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding:5px;
}